In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv('churn.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   RowNumber             10000 non-null  int64
 1   CustomerId            10000 non-null  int64
 2   Surname               9914 non-null   object
 3   CreditScore           9963 non-null   float64
 4   Geography             9963 non-null   object
 5   Gender                9963 non-null   object
 6   Sex                   9805 non-null   float64
 7   Age                   9963 non-null   float64
 8   CurrentWorkingStatus  9963 non-null   float64
 9   Tenure                9963 non-null   float64
 10  Balance               9963 non-null   float64
 11  NumOfProducts         9859 non-null   float64
 12  ComplaintsLodged      9963 non-null   float64
 13  HasCrCard             9963 non-null   float64
 14  IsActiveMember        9963 non-null   float64
 15  EstimatedSalary       9896 non-null   object
 16  Exited                10000 non-null  object
dtypes: float64(10), int64(2), object(5)
memory usage: 1.3+ MB
None

Question 1
what is the proportion of customers who exited and stopped using the banking services?

In [6]:
#answer 
print(df['Exited'].describe())
print(df['Exited'].value_counts())

count     10000
unique        2
top          No
freq       7963
Name: Exited, dtype: object
No     7963
Yes    2037
Name: Exited, dtype: int64

There is 2037 people exited from the data base

Question 2
The dataset may include irrelevant and redundant varibles. What varibles did you include in the analysis and what were their roles and measurement leve lset? Justify your choice

In [52]:
df.isnull().sum()

CreditScore               0
Geography                 0
Gender                    0
Sex                     158
Age                       0
CurrentWorkingStatus      0
Tenure                    0
Balance                   0
NumOfProducts           104
ComplaintsLodged          0
HasCrCard                 0
IsActiveMember            0
EstimatedSalary          67
Exited                    0
dtype: int64

In [34]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CreditScore           9963 non-null   float64
 1   Geography             9963 non-null   object
 2   Gender                9963 non-null   float64
 3   Sex                   9805 non-null   float64
 4   Age                   9963 non-null   float64
 5   CurrentWorkingStatus  9963 non-null   float64
 6   Tenure                9963 non-null   float64
 7   Balance               9963 non-null   float64
 8   NumOfProducts         9859 non-null   float64
 9   ComplaintsLodged      9963 non-null   float64
 10  HasCrCard             9963 non-null   float64
 11  IsActiveMember        9963 non-null   float64
 12  EstimatedSalary       9896 non-null   object
 13  Exited                10000 non-null  object
dtypes: float64(11), object(3)
memory usage: 1.1+ MB
None

In [17]:
df['Gender'].value_counts()

Male      5439
Female    4524
Name: Gender, dtype: int64

In [18]:
#change Gender into binary 0/1 varible
Gender = {'Male':0, "Female": 1}
df['Gender'] = df['Gender'].map(Gender)

In [19]:
df['Gender'].value_counts()

0.0    5439
1.0    4524
Name: Gender, dtype: int64

In [20]:
df['Geography'].value_counts()

France     4963
Germany    2484
Spain      2457
FR           35
ES           13
DE           11
Name: Geography, dtype: int64

In [33]:
df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)
df.drop(['Surname'], axis=1, inplace=True)

In [37]:
# impute missing values in DemAge with its mean
df['Age'].fillna(df['Age'].mean(), inplace=True)

In [46]:
df['Gender'].unique()

array([1., 0.])

In [45]:
df.dropna(subset = ["Gender"], inplace=True)

In [ ]:
print(df.groupby(['Exited'])['Sex'].mean())