In [126]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, accuracy_score
from sklearn.model_selection import GridSearchCV

In [2]:
df = pd.read_csv('churn.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   RowNumber             10000 non-null  int64
 1   CustomerId            10000 non-null  int64
 2   Surname               9914 non-null   object
 3   CreditScore           9963 non-null   float64
 4   Geography             9963 non-null   object
 5   Gender                9963 non-null   object
 6   Sex                   9805 non-null   float64
 7   Age                   9963 non-null   float64
 8   CurrentWorkingStatus  9963 non-null   float64
 9   Tenure                9963 non-null   float64
 10  Balance               9963 non-null   float64
 11  NumOfProducts         9859 non-null   float64
 12  ComplaintsLodged      9963 non-null   float64
 13  HasCrCard             9963 non-null   float64
 14  IsActiveMember        9963 non-null   float64
 15  EstimatedSalary       9896 non-null   object
 16  Exited                10000 non-null  object
dtypes: float64(10), int64(2), object(5)
memory usage: 1.3+ MB
None

In [6]:
df.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Sex,Age,CurrentWorkingStatus,Tenure,Balance,NumOfProducts,ComplaintsLodged,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619.0,France,Female,1.0,42.0,1.0,2.0,0.00,1.0,1.0,1.0,1.0,101348.88,Yes
1,2,15647311,Hill,608.0,Spain,Female,1.0,41.0,1.0,1.0,83807.86,1.0,0.0,0.0,1.0,112542.58,No
2,3,15619304,Onio,502.0,France,Female,1.0,42.0,1.0,8.0,159660.80,3.0,1.0,1.0,0.0,113931.57,Yes
3,4,15701354,Boni,699.0,France,Female,1.0,39.0,1.0,1.0,0.00,2.0,0.0,0.0,0.0,?,No
4,5,15737888,Mitchell,850.0,Spain,Female,1.0,43.0,1.0,2.0,125510.82,1.0,0.0,1.0,1.0,79084.1,No
5,6,15574012,Chu,645.0,Spain,Male,0.0,44.0,1.0,8.0,113755.78,2.0,1.0,1.0,0.0,149756.71,Yes
6,7,15592531,Bartlett,822.0,France,Male,0.0,-1.0,1.0,7.0,0.00,2.0,0.0,1.0,1.0,10062.8,No
7,8,15656148,Obinna,376.0,Germany,Female,1.0,29.0,1.0,4.0,115046.74,4.0,1.0,1.0,0.0,119346.88,Yes
8,9,15792365,He,501.0,France,Male,0.0,44.0,1.0,4.0,142051.07,2.0,0.0,0.0,1.0,74940.5,No
9,10,15592389,H?,684.0,France,Male,0.0,27.0,1.0,2.0,134603.88,1.0,0.0,1.0,1.0,71725.73,No

Task 1:
What is the proportion of customers who ecited and stoppped using the banking services

In [5]:

print(df['Exited'].value_counts())
#answer: 7963

No     7963
Yes    2037
Name: Exited, dtype: int64

The dataset may include irrelevant and redundant varibles. What varibles did you include in the analysis and what were their roles and measurement levelset Justify your choice.

In [9]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   RowNumber             10000 non-null  int64
 1   CustomerId            10000 non-null  int64
 2   Surname               9914 non-null   object
 3   CreditScore           9963 non-null   float64
 4   Geography             9963 non-null   object
 5   Gender                9963 non-null   object
 6   Sex                   9805 non-null   float64
 7   Age                   9963 non-null   float64
 8   CurrentWorkingStatus  9963 non-null   float64
 9   Tenure                9963 non-null   float64
 10  Balance               9963 non-null   float64
 11  NumOfProducts         9859 non-null   float64
 12  ComplaintsLodged      9963 non-null   float64
 13  HasCrCard             9963 non-null   float64
 14  IsActiveMember        9963 non-null   float64
 15  EstimatedSalary       9896 non-null   object
 16  Exited                10000 non-null  object
dtypes: float64(10), int64(2), object(5)
memory usage: 1.3+ MB
None

In [10]:
df.drop(['RowNumber', 'CustomerId', 'Surname', 'Gender'], axis=1, inplace=True)
# drop those because its useless, and sex is better than gender.

In [11]:
#have look at the dataset again
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CreditScore           9963 non-null   float64
 1   Geography             9963 non-null   object
 2   Sex                   9805 non-null   float64
 3   Age                   9963 non-null   float64
 4   CurrentWorkingStatus  9963 non-null   float64
 5   Tenure                9963 non-null   float64
 6   Balance               9963 non-null   float64
 7   NumOfProducts         9859 non-null   float64
 8   ComplaintsLodged      9963 non-null   float64
 9   HasCrCard             9963 non-null   float64
 10  IsActiveMember        9963 non-null   float64
 11  EstimatedSalary       9896 non-null   object
 12  Exited                10000 non-null  object
dtypes: float64(10), object(3)
memory usage: 1015.8+ KB
None

In [12]:
df.head(10)

,CreditScore,Geography,Sex,Age,CurrentWorkingStatus,Tenure,Balance,NumOfProducts,ComplaintsLodged,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619.0,France,1.0,42.0,1.0,2.0,0.00,1.0,1.0,1.0,1.0,101348.88,Yes
1,608.0,Spain,1.0,41.0,1.0,1.0,83807.86,1.0,0.0,0.0,1.0,112542.58,No
2,502.0,France,1.0,42.0,1.0,8.0,159660.80,3.0,1.0,1.0,0.0,113931.57,Yes
3,699.0,France,1.0,39.0,1.0,1.0,0.00,2.0,0.0,0.0,0.0,?,No
4,850.0,Spain,1.0,43.0,1.0,2.0,125510.82,1.0,0.0,1.0,1.0,79084.1,No
5,645.0,Spain,0.0,44.0,1.0,8.0,113755.78,2.0,1.0,1.0,0.0,149756.71,Yes
6,822.0,France,0.0,-1.0,1.0,7.0,0.00,2.0,0.0,1.0,1.0,10062.8,No
7,376.0,Germany,1.0,29.0,1.0,4.0,115046.74,4.0,1.0,1.0,0.0,119346.88,Yes
8,501.0,France,0.0,44.0,1.0,4.0,142051.07,2.0,0.0,0.0,1.0,74940.5,No
9,684.0,France,0.0,27.0,1.0,2.0,134603.88,1.0,0.0,1.0,1.0,71725.73,No

Did you have to fix any data quality problems? Detail them

In [14]:
#check cloumn by column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CreditScore           9963 non-null   float64
 1   Geography             9963 non-null   object
 2   Sex                   9805 non-null   float64
 3   Age                   9963 non-null   float64
 4   CurrentWorkingStatus  9963 non-null   float64
 5   Tenure                9963 non-null   float64
 6   Balance               9963 non-null   float64
 7   NumOfProducts         9859 non-null   float64
 8   ComplaintsLodged      9963 non-null   float64
 9   HasCrCard             9963 non-null   float64
 10  IsActiveMember        9963 non-null   float64
 11  EstimatedSalary       9896 non-null   object
 12  Exited                10000 non-null  object
dtypes: float64(10), object(3)
memory usage: 1015.8+ KB

In [20]:
df.isnull().sum()

CreditScore              37
Geography                37
Sex                     195
Age                      37
CurrentWorkingStatus     37
Tenure                   37
Balance                  37
NumOfProducts           141
ComplaintsLodged         37
HasCrCard                37
IsActiveMember           37
EstimatedSalary         104
Exited                    0
dtype: int64

In [24]:
#checking creditscore
print(df['CreditScore'])
#only 37 missing values, drop them shouldnt make a big different to the dataset
df = df.dropna(subset=["CreditScore"])

0       619.0
1       608.0
2       502.0
3       699.0
4       850.0
        ...
9995    771.0
9996    516.0
9997    709.0
9998    772.0
9999    792.0
Name: CreditScore, Length: 10000, dtype: float64

In [28]:
#check again after dropping
df.isnull().sum()

CreditScore               0
Geography                 0
Sex                     158
Age                       0
CurrentWorkingStatus      0
Tenure                    0
Balance                   0
NumOfProducts           104
ComplaintsLodged          0
HasCrCard                 0
IsActiveMember            0
EstimatedSalary          67
Exited                    0
dtype: int64

In [27]:
#check if there is any 0s in score
mask = df['CreditScore'] < 1
df.loc[mask, 'CreditScore'] = np.nan
df.loc[mask, 'CreditScore'].count()
#CreditScore is good now

C:\Users\zhuju\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

0

In [29]:
#check Geo
df['Geography'].unique()

array(['France', 'Spain', 'Germany', 'DE', 'ES', 'FR'], dtype=object)

In [32]:
df['Geography'].isnull().sum()

0

In [35]:
#change geo to int
geo_map = {'France':0, 'Spain': 1,'Germany':2, 'DE':3, 'ES':4, 'FR':5}

In [36]:
df['Geography'] = df['Geography'].map(geo_map)

<ipython-input-36-37789519d2be>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Geography'] = df['Geography'].map(geo_map)

In [38]:
#check after change
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9963 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CreditScore           9963 non-null   float64
 1   Geography             9963 non-null   int64
 2   Sex                   9805 non-null   float64
 3   Age                   9963 non-null   float64
 4   CurrentWorkingStatus  9963 non-null   float64
 5   Tenure                9963 non-null   float64
 6   Balance               9963 non-null   float64
 7   NumOfProducts         9859 non-null   float64
 8   ComplaintsLodged      9963 non-null   float64
 9   HasCrCard             9963 non-null   float64
 10  IsActiveMember        9963 non-null   float64
 11  EstimatedSalary       9896 non-null   object
 12  Exited                9963 non-null   object
dtypes: float64(10), int64(1), object(2)
memory usage: 1.1+ MB

In [41]:
df['Geography'].head(10)

0    0
1    1
2    0
3    0
4    1
5    1
6    0
7    2
8    0
9    0
Name: Geography, dtype: int64

In [44]:
#check sex
df['Sex'].isnull().sum()
df.isnull().sum()

CreditScore               0
Geography                 0
Sex                     158
Age                       0
CurrentWorkingStatus      0
Tenure                    0
Balance                   0
NumOfProducts           104
ComplaintsLodged          0
HasCrCard                 0
IsActiveMember            0
EstimatedSalary          67
Exited                    0
dtype: int64

In [45]:
#drop sex because we cant fill it with mean or anything else
df = df.dropna(subset=["Sex"])

In [54]:
df.isnull().sum()

CreditScore               0
Geography                 0
Sex                       0
Age                       6
CurrentWorkingStatus      0
Tenure                    0
Balance                   0
NumOfProducts           104
ComplaintsLodged          0
HasCrCard                 0
IsActiveMember            0
EstimatedSalary          67
Exited                    0
dtype: int64

In [55]:
#check age
mask = df['Age'] < 1
df.loc[mask, 'Age'] = np.nan
df.loc[mask, 'Age'].count()

0

In [57]:
df['Age'].isnull().sum()
#use mean to fill age

6

In [58]:
df['Age'].fillna(df['Age'].mean(), inplace=True)

In [59]:
#check again
df.isnull().sum()

CreditScore               0
Geography                 0
Sex                       0
Age                       0
CurrentWorkingStatus      0
Tenure                    0
Balance                   0
NumOfProducts           104
ComplaintsLodged          0
HasCrCard                 0
IsActiveMember            0
EstimatedSalary          67
Exited                    0
dtype: int64

In [61]:
#check currentworking
df['CurrentWorkingStatus'].unique()
#looks good

array([1., 0.])

In [72]:
#check Tenure
df['Tenure'].head(10)
#Tenure looks good

0    2.0
1    1.0
2    8.0
3    1.0
4    2.0
5    8.0
6    7.0
7    4.0
8    4.0
9    2.0
Name: Tenure, dtype: float64

In [76]:
#check Balance
df['Balance'].head(10)
#Need to ask shu

0         0.00
1     83807.86
2    159660.80
3         0.00
4    125510.82
5    113755.78
6         0.00
7    115046.74
8    142051.07
9    134603.88
Name: Balance, dtype: float64

In [77]:
df['NumOfProducts'].unique()

array([ 1.,  3.,  2.,  4., nan])

In [78]:
df.isnull().sum()

CreditScore               0
Geography                 0
Sex                       0
Age                       0
CurrentWorkingStatus      0
Tenure                    0
Balance                   0
NumOfProducts           104
ComplaintsLodged          0
HasCrCard                 0
IsActiveMember            0
EstimatedSalary          67
Exited                    0
dtype: int64

In [79]:
#fill number of product with mean
df['NumOfProducts'].fillna(df['NumOfProducts'].mean(), inplace=True)

In [80]:
df['NumOfProducts'].unique()

array([1.        , 3.        , 2.        , 4.        , 1.53190393])

In [84]:
df['NumOfProducts'] = np.round(df['NumOfProducts'], decimals=0)
print(df['NumOfProducts'].head(10))

0    1.0
1    1.0
2    3.0
3    2.0
4    1.0
5    2.0
6    2.0
7    4.0
8    2.0
9    1.0
Name: NumOfProducts, dtype: float64

In [86]:
df['NumOfProducts'].unique()

array([1., 3., 2., 4.])

In [88]:
df.isnull().sum()

CreditScore              0
Geography                0
Sex                      0
Age                      0
CurrentWorkingStatus     0
Tenure                   0
Balance                  0
NumOfProducts            0
ComplaintsLodged         0
HasCrCard                0
IsActiveMember           0
EstimatedSalary         67
Exited                   0
dtype: int64

In [89]:
#check complaintslodged
df["ComplaintsLodged"].unique()
#looks good

array([1., 0.])

In [90]:
df.isnull().sum()

CreditScore              0
Geography                0
Sex                      0
Age                      0
CurrentWorkingStatus     0
Tenure                   0
Balance                  0
NumOfProducts            0
ComplaintsLodged         0
HasCrCard                0
IsActiveMember           0
EstimatedSalary         67
Exited                   0
dtype: int64

In [93]:
#check hasCrCard
df['HasCrCard'].unique()
#Looks good

array([1., 0.])

In [95]:
#checkIsActivemember
df['IsActiveMember'].unique()
#Looks good

array([1., 0.])

In [96]:
df.isnull().sum()

CreditScore              0
Geography                0
Sex                      0
Age                      0
CurrentWorkingStatus     0
Tenure                   0
Balance                  0
NumOfProducts            0
ComplaintsLodged         0
HasCrCard                0
IsActiveMember           0
EstimatedSalary         67
Exited                   0
dtype: int64

In [102]:
#check EstimatedSalary
df['EstimatedSalary'].head()
df['EstimatedSalary'].isnull().sum()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9805 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CreditScore           9805 non-null   float64
 1   Geography             9805 non-null   int64
 2   Sex                   9805 non-null   float64
 3   Age                   9805 non-null   float64
 4   CurrentWorkingStatus  9805 non-null   float64
 5   Tenure                9805 non-null   float64
 6   Balance               9805 non-null   float64
 7   NumOfProducts         9805 non-null   float64
 8   ComplaintsLodged      9805 non-null   float64
 9   HasCrCard             9805 non-null   float64
 10  IsActiveMember        9805 non-null   float64
 11  EstimatedSalary       9738 non-null   object
 12  Exited                9805 non-null   object
dtypes: float64(10), int64(1), object(2)
memory usage: 1.0+ MB

In [105]:
#change ? to null
df['EstimatedSalary'].apply(lambda x: np.nan if x == '?' else x) 
df['EstimatedSalary'] = df['EstimatedSalary'].apply(lambda x: np.nan if x == '?' else x)

In [106]:
df.isnull().sum()

CreditScore               0
Geography                 0
Sex                       0
Age                       0
CurrentWorkingStatus      0
Tenure                    0
Balance                   0
NumOfProducts             0
ComplaintsLodged          0
HasCrCard                 0
IsActiveMember            0
EstimatedSalary         131
Exited                    0
dtype: int64

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9805 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CreditScore           9805 non-null   float64
 1   Geography             9805 non-null   int64
 2   Sex                   9805 non-null   float64
 3   Age                   9805 non-null   float64
 4   CurrentWorkingStatus  9805 non-null   float64
 5   Tenure                9805 non-null   float64
 6   Balance               9805 non-null   float64
 7   NumOfProducts         9805 non-null   float64
 8   ComplaintsLodged      9805 non-null   float64
 9   HasCrCard             9805 non-null   float64
 10  IsActiveMember        9805 non-null   float64
 11  EstimatedSalary       9674 non-null   object
 12  Exited                9805 non-null   object
dtypes: float64(10), int64(1), object(2)
memory usage: 1.0+ MB

In [108]:
#change to float
df['EstimatedSalary'] = df['EstimatedSalary'].astype(float)

In [109]:
df.isnull().sum()

CreditScore               0
Geography                 0
Sex                       0
Age                       0
CurrentWorkingStatus      0
Tenure                    0
Balance                   0
NumOfProducts             0
ComplaintsLodged          0
HasCrCard                 0
IsActiveMember            0
EstimatedSalary         131
Exited                    0
dtype: int64

In [110]:
df['EstimatedSalary'].fillna(df['EstimatedSalary'].mean(), inplace=True)

In [111]:
df.isnull().sum()

CreditScore             0
Geography               0
Sex                     0
Age                     0
CurrentWorkingStatus    0
Tenure                  0
Balance                 0
NumOfProducts           0
ComplaintsLodged        0
HasCrCard               0
IsActiveMember          0
EstimatedSalary         0
Exited                  0
dtype: int64

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9805 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CreditScore           9805 non-null   float64
 1   Geography             9805 non-null   int64
 2   Sex                   9805 non-null   float64
 3   Age                   9805 non-null   float64
 4   CurrentWorkingStatus  9805 non-null   float64
 5   Tenure                9805 non-null   float64
 6   Balance               9805 non-null   float64
 7   NumOfProducts         9805 non-null   float64
 8   ComplaintsLodged      9805 non-null   float64
 9   HasCrCard             9805 non-null   float64
 10  IsActiveMember        9805 non-null   float64
 11  EstimatedSalary       9805 non-null   float64
 12  Exited                9805 non-null   object
dtypes: float64(11), int64(1), object(1)
memory usage: 1.0+ MB

In [113]:
#last is Exited, the type is wrong and change from yes to 0 no to 1
exited_map = {'Yes':0, 'No': 1}
df['Exited'] = df['Exited'].map(exited_map)

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9805 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CreditScore           9805 non-null   float64
 1   Geography             9805 non-null   int64
 2   Sex                   9805 non-null   float64
 3   Age                   9805 non-null   float64
 4   CurrentWorkingStatus  9805 non-null   float64
 5   Tenure                9805 non-null   float64
 6   Balance               9805 non-null   float64
 7   NumOfProducts         9805 non-null   float64
 8   ComplaintsLodged      9805 non-null   float64
 9   HasCrCard             9805 non-null   float64
 10  IsActiveMember        9805 non-null   float64
 11  EstimatedSalary       9805 non-null   float64
 12  Exited                9805 non-null   int64
dtypes: float64(11), int64(2)
memory usage: 1.0 MB

In [116]:
df['Exited'].unique()

array([0, 1], dtype=int64)

Move on to Task 2, which is D tree

In [119]:
rs = 10
X = df.drop(['Exited'], axis=1)
y = df['Exited']
X_mat = X.values
X_train, X_test, y_train, y_test = train_test_split(X_mat, y,test_size=0.3, stratify=y,
 random_state=rs)

In [122]:
#Default model
model = DecisionTreeClassifier(random_state=rs)
model.fit(X_train, y_train)

DecisionTreeClassifier(random_state=10)

In [123]:
print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

1.0
0.9524133242692047

In [125]:
# grab feature importances from the model and feature name from the original X
importances = model.feature_importances_
feature_names = X.columns
# sort them out in descending order
indices = np.argsort(importances)
indices = np.flip(indices, axis=0)
# limit to 20 features, you can leave this out to print out everything
indices = indices[:20]
for i in indices:
 print(feature_names[i], ':', importances[i])

ComplaintsLodged : 0.8235176171910765
EstimatedSalary : 0.03902892952558776
Balance : 0.03614032056634888
CreditScore : 0.02951966629898504
Age : 0.02936161355913492
Tenure : 0.014151245033944068
Geography : 0.009031730900968201
NumOfProducts : 0.007364269378974969
HasCrCard : 0.00531397025563901
IsActiveMember : 0.003685839224740062
Sex : 0.0028847980646004652
CurrentWorkingStatus : 0.0