In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('churn.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   RowNumber             10000 non-null  int64
 1   CustomerId            10000 non-null  int64
 2   Surname               9914 non-null   object
 3   CreditScore           9963 non-null   float64
 4   Geography             9963 non-null   object
 5   Gender                9963 non-null   object
 6   Sex                   9805 non-null   float64
 7   Age                   9963 non-null   float64
 8   CurrentWorkingStatus  9963 non-null   float64
 9   Tenure                9963 non-null   float64
 10  Balance               9963 non-null   float64
 11  NumOfProducts         9859 non-null   float64
 12  ComplaintsLodged      9963 non-null   float64
 13  HasCrCard             9963 non-null   float64
 14  IsActiveMember        9963 non-null   float64
 15  EstimatedSalary       9896 non-null   object
 16  Exited                10000 non-null  object
dtypes: float64(10), int64(2), object(5)
memory usage: 1.3+ MB
None

In [3]:
df.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Sex,Age,CurrentWorkingStatus,Tenure,Balance,NumOfProducts,ComplaintsLodged,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619.0,France,Female,1.0,42.0,1.0,2.0,0.00,1.0,1.0,1.0,1.0,101348.88,Yes
1,2,15647311,Hill,608.0,Spain,Female,1.0,41.0,1.0,1.0,83807.86,1.0,0.0,0.0,1.0,112542.58,No
2,3,15619304,Onio,502.0,France,Female,1.0,42.0,1.0,8.0,159660.80,3.0,1.0,1.0,0.0,113931.57,Yes
3,4,15701354,Boni,699.0,France,Female,1.0,39.0,1.0,1.0,0.00,2.0,0.0,0.0,0.0,?,No
4,5,15737888,Mitchell,850.0,Spain,Female,1.0,43.0,1.0,2.0,125510.82,1.0,0.0,1.0,1.0,79084.1,No
5,6,15574012,Chu,645.0,Spain,Male,0.0,44.0,1.0,8.0,113755.78,2.0,1.0,1.0,0.0,149756.71,Yes
6,7,15592531,Bartlett,822.0,France,Male,0.0,-1.0,1.0,7.0,0.00,2.0,0.0,1.0,1.0,10062.8,No
7,8,15656148,Obinna,376.0,Germany,Female,1.0,29.0,1.0,4.0,115046.74,4.0,1.0,1.0,0.0,119346.88,Yes
8,9,15792365,He,501.0,France,Male,0.0,44.0,1.0,4.0,142051.07,2.0,0.0,0.0,1.0,74940.5,No
9,10,15592389,H?,684.0,France,Male,0.0,27.0,1.0,2.0,134603.88,1.0,0.0,1.0,1.0,71725.73,No

In [4]:
(df['Exited'].value_counts()/df['Exited'].count())*100

No     79.63
Yes    20.37
Name: Exited, dtype: float64

In [5]:
df = df.replace({ "?": np.nan})

In [6]:
df['EstimatedSalary'] = df['EstimatedSalary'].astype(float)

In [7]:
df.isnull().sum()

RowNumber                 0
CustomerId                0
Surname                  86
CreditScore              37
Geography                37
Gender                   37
Sex                     195
Age                      37
CurrentWorkingStatus     37
Tenure                   37
Balance                  37
NumOfProducts           141
ComplaintsLodged         37
HasCrCard                37
IsActiveMember           37
EstimatedSalary         168
Exited                    0
dtype: int64

Task 1: 
Question 1
what is the proportion of customers who exited and stopped using the banking services?

In [8]:
df.drop(['RowNumber', 'CustomerId', 'Surname','Sex'], axis=1, inplace=True)

In [9]:
df.isnull().sum()

CreditScore              37
Geography                37
Gender                   37
Age                      37
CurrentWorkingStatus     37
Tenure                   37
Balance                  37
NumOfProducts           141
ComplaintsLodged         37
HasCrCard                37
IsActiveMember           37
EstimatedSalary         168
Exited                    0
dtype: int64

In [10]:
df.head(10)

,CreditScore,Geography,Gender,Age,CurrentWorkingStatus,Tenure,Balance,NumOfProducts,ComplaintsLodged,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619.0,France,Female,42.0,1.0,2.0,0.00,1.0,1.0,1.0,1.0,101348.88,Yes
1,608.0,Spain,Female,41.0,1.0,1.0,83807.86,1.0,0.0,0.0,1.0,112542.58,No
2,502.0,France,Female,42.0,1.0,8.0,159660.80,3.0,1.0,1.0,0.0,113931.57,Yes
3,699.0,France,Female,39.0,1.0,1.0,0.00,2.0,0.0,0.0,0.0,NaN,No
4,850.0,Spain,Female,43.0,1.0,2.0,125510.82,1.0,0.0,1.0,1.0,79084.10,No
5,645.0,Spain,Male,44.0,1.0,8.0,113755.78,2.0,1.0,1.0,0.0,149756.71,Yes
6,822.0,France,Male,-1.0,1.0,7.0,0.00,2.0,0.0,1.0,1.0,10062.80,No
7,376.0,Germany,Female,29.0,1.0,4.0,115046.74,4.0,1.0,1.0,0.0,119346.88,Yes
8,501.0,France,Male,44.0,1.0,4.0,142051.07,2.0,0.0,0.0,1.0,74940.50,No
9,684.0,France,Male,27.0,1.0,2.0,134603.88,1.0,0.0,1.0,1.0,71725.73,No

In [11]:
print(df.apply(lambda col: col.unique()))

ValueError: arrays must all be same length

In [ ]:
print(df.apply(lambda col: col.describe()))

Task 1:
Question 2
The dataset may include irrelevant and redundant varibles. What varibles did you include in the analysis and what were their roles and measurement level set? Justify your choice

Task 1: Question 3: Did you have to fix any data quality problems? Detail them. Apply the imputation methods to the variables that need it. List the variables that needed it. justify your choice of imputation if needed

In [ ]:
#first step is to check null values and see how to deal with them
df.isnull().sum()

In [ ]:
truth_table = df.isnull()
conclusive_truth_table = truth_table.any(axis='columns')
df[conclusive_truth_table]

In [ ]:
df[ df.iloc[ :,:].isnull().sum(axis=1) >=12]

In [ ]:
Y= df['Exited']
Y

In [ ]:
df

In [ ]:
df = df[df['CreditScore'].notna()]

In [ ]:
df.isnull().sum()

In [ ]:
df[ df.iloc[ :,:].isnull().sum(axis=1) ==1]

In [ ]:
df['NumOfProducts'] = df['NumOfProducts'].fillna(0)

In [ ]:
df[ df.iloc[ :,:].isnull().sum(axis=1) ==1]

In [ ]:
df['EstimatedSalary'].mean()

In [ ]:

df['EstimatedSalary']= df['EstimatedSalary'].fillna(df['EstimatedSalary'].mean())

In [ ]:
df[ df.iloc[ :,:].isnull().sum(axis=1) >0]

In [ ]:
(df['Exited'].value_counts()/df['Exited'].count())*100

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:

# target/input split
y = df['Exited']
X = df.drop(['Exited'], axis=1)

In [ ]:
gender_map = {'Female':0, 'Male': 1}
X['Gender'] = X['Gender'].map(gender_map)

In [ ]:
X = pd.get_dummies(X)
X.head(10)

In [ ]:
# setting random state
rs = 10
# To ignore any future warnings
import warnings
warnings.filterwarnings("ignore")
X_mat = X.values
X_train, X_test, y_train, y_test = train_test_split(X_mat, y, test_size=0.3,
 stratify=y, random_state=rs)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, accuracy_score
# simple decision tree training
model = DecisionTreeClassifier(random_state=rs)
model.fit(X_train, y_train)
model.get_params(deep=True)

In [ ]:
print("Train accuracy:", model.score(X_train, y_train))
print("Test accuracy:", model.score(X_test, y_test))

In [ ]:
y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))

In [ ]:
import numpy as np
# grab feature importances from the model and feature name from the original X
importances = model.feature_importances_
feature_names = X.columns
# sort them out in descending order
indices = np.argsort(importances)
indices = np.flip(indices, axis=0)
# limit to 20 features, you can leave this out to print out everything
indices = indices[:20]
for i in indices:
 print(feature_names[i], ':', importances[i])

In [ ]:
import pydot
from io import StringIO
from sklearn.tree import export_graphviz
# visualize
dotfile = StringIO()
export_graphviz(model, out_file=dotfile, feature_names=X.columns)
graph = pydot.graph_from_dot_data(dotfile.getvalue())

In [ ]:
from sklearn import tree
tree.plot_tree(model)

In [ ]:
print(df.groupby(['IsActiveMember'])['Balance'].value_counts(normalize=True))

In [ ]:
df[(df['Balance']==0) & (df['IsActiveMember']==0)].count()

In [ ]:
df[(df['Balance']==0) & (df['IsActiveMember']==1)].count()

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
# grid search CV
params = {'criterion': ['gini', 'entropy'],
 'max_depth': range(2, 10),
 'min_samples_leaf': range(20, 60, 2)}
cv = GridSearchCV(param_grid=params, estimator=
 DecisionTreeClassifier(random_state=rs), cv=10)
cv.fit(X_train, y_train)
print("Train accuracy:", cv.score(X_train, y_train))
print("Test accuracy:", cv.score(X_test, y_test))
# test the best model
y_pred = cv.predict(X_test)
print(classification_report(y_test, y_pred))
# print parameters of the best model
print(cv.best_params_)

In [ ]:
model = DecisionTreeClassifier(criterion='gini', max_depth= 5, min_samples_leaf=22)
model.fit(X_train, y_train)

In [ ]:
# grab feature importances from the model and feature name from the original X
importances = model.feature_importances_
feature_names = X.columns
# sort them out in descending order
indices = np.argsort(importances)
indices = np.flip(indices, axis=0)
# limit to 20 features, you can leave this out to print out everything
indices = indices[:20]
for i in indices:
 print(feature_names[i], ':', importances[i])